@*@using Repositories.Items 
@model IEnumerable<ToDo>*@
@model ToDoList_task.Models.ViewModel

<a asp-controller="ToDo" asp-action="Create">Create</a>
<table class="table">
    <tr>
            <th>Text</th>
            <th>Description</th>
            <th>Category</th>
            <th>Deadline</th>
            <th>Complete</th>
            <th></th>
    </tr>
    @foreach (var item in Model.ToDoList)
    {
        <tr>
            <td>@item.Text</td>
            <td>@item.Description</td>
            <td>@(item.CategoryId == null ? "No Category" : Model.Categories[Convert.ToInt32(item.CategoryId) - 1].Name)</td>
            <td>@item.Deadline</td>
            <td> 
                @(item.IsComplete ? "Complete" : "Not complete")
            </td>
            <td>
                <a asp-controller="ToDo" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="ToDo" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>
